@charset "UTF-8";

.error-msg {
	font-size: 70%;
	color: red;
}

.oculto {
	display: none;
}

.warning {
	color: crimson;
	background: lightyellow;
	padding: 0.2ex;
}

.success {
	color: green;
	background: lightyellow;
	padding: 0.2ex;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: all 2s;
}
